@media all
{
    body {
        font-family: Inconsolata, "Wen Quan Yi Micro Hei Mono", "Microsoft YaHei", serif, Arial !important;
        font-size: 1em;
        line-height: 1.2em;
        color: #333;
        max-width: 58em;
        margin: auto;
    }
    body #content {
        padding-top: 1.85em;
    }

    #org-div-home-and-up{
        position: fixed;
        right: 12em;
    }

    #table-of-contents {
        font-size: 1em;
        position: fixed;
        right: 0em;
        top: 0em;
        background: white;
        -webkit-box-shadow: 0 0 0.5em #777777;
        -moz-box-shadow: 0 0 0.5em #777777;
        -webkit-border-bottom-left-radius: 0.3em;
        -moz-border-radius-bottomleft: 0.3em;
        text-align: right;
        max-height: 80%;
        overflow: auto; 
    }

    #table-of-contents h2 {
        font-size: 1em;
        max-width: 9em;
        font-weight: normal;
        padding-left: 0.5em;
        padding-top: 0.05em;
        padding-bottom: 0.05em; 
    }

    #table-of-contents #text-table-of-contents {
        display: none;
        text-align: left; 
    }

    #table-of-contents:hover #text-table-of-contents {
        display: block;
        padding: 0.5em;
        margin-top: -1.5em; 
    }

    #table-of-contents #text-table-of-contents ul {
        list-style-position: outside;
    }

    h1 {
        font-size:2em;
        padding:0 0 1.2em 0;
        color: #333;
    }

    h2 {
        font-size:1.4em;
        padding:0.2em 0 0.5em 0;
        color: #333;
	margin-top: 2em;
    }

    .outline-text-2 {
        margin-left: 0.1em
    }

    h3 {
        font-size:1.2em;
        color: #333;
        margin-left: 0.6em;
    }

    .outline-text-3 {
        margin-left: 0.9em;
    }

    h4 {
        font-size:1.2em;
        color: #333;
        margin-left: 1.2em;
    }

    .outline-text-4 {
        margin-left: 1.45em;
    }

    h5 {
        font-size:1.2em;
        color: #333;
        margin-left: 1.2em;
	display: none;
    }

    .outline-text-5 {
        margin-left: 1.45em;
    }

    p {
        margin-left: 3%;
        line-height: 160%;
    }

    a {
        text-decoration: none; 
        color: #3399cc;
    }

    a:visited {
        text-decoration: none; 
        color: #3399cc;
    } 

    a:hover {
        text-decoration: underline; 
        color: #3399cc;
    }

    ul {
            padding-left: 3em;
	    list-style-type: square;
	    list-style-image: inherit;
	    list-style-position: outside;
    }

    ol {
	    padding-left: 4em;
	    list-style-type: decimal;
	    list-style-position: outside;
    }
    ol ol {
	    list-style-type: lower-alpha;
    }

    li {
        margin: 0.4em;
    }

    .todo {
        color: #CA0000;
    }

    .done {
        color: #006666;
    }

    .timestamp-kwd {
        color: #444;
    }

    table {
        border: 1px solid #AEBDCC;
	    frame: border;
	    rules: all;
        margin-left: 3em;
        margin-top: 0.6em;
        margin-bottom: 0.6em;
    }

    td {
        border: 1px solid #AEBDCC;
    }

    th {
        border: 1px solid #AEBDCC;
    }

    img {
        border: none;
        text-align: right;
    }

    pre {
        font-family: "Wen Quan Yi Micro Hei Mono", "Microsoft YaHei", serif, Arial !important;
        font-size: 1em;
        color: #333;
        background-color: #ffffff;
        margin: 1.7em 10em 1.7em 3em;
        padding: 1.2em;
        overlow: auto;
    }

    #postamble {
        padding: .3em;
        margin-top: 3em;
        margin-bottom: 1em;
        border: 1px solid gray;
        background-color: #eeeeee;
    }
}
