@media all
{
    body {
        font-family: Inconsolata, "Wen Quan Yi Micro Hei Mono", "Microsoft YaHei", serif, Arial !important;
        font-size: 1em;
        line-height: 1.2em;
        color: #333;
        max-width: 60em;
        margin: auto;
        margin-top: 1em;
    }

    body #content {
        padding-top: 3%;
    }

    #org-div-home-and-up{
    	font-size: 1.1em;
        padding-right: 10%;
        text-align:right
    }

    #table-of-contents {
        font-size: 1em;
        position: fixed;
        width: 18%;
        top: 0em;
        right: 0em;
        background: white;
        text-align: right;
        -webkit-box-shadow: 0 0 0.5em #777777;
        -moz-box-shadow: 0 0 0.5em #777777;
        -webkit-border-bottom-left-radius: 0.3em;
        -moz-border-radius-bottomleft: 0.3em;
        max-height: 30em;
        overflow: auto; 
    }

    #table-of-contents h2 {
        font-size: 1em;
        font-weight: normal;
        margin: 0em 0em 0em 0em;
        padding: 1em 1em 1em 1em;
    }
    
    #text-table-of-contents ul {
    	list-style-position: inside;
    	text-align: left;
		padding: 0em 0em 0em 0.5em;
		margin: 0em 0em 0em 0em;
		list-style-type: none;
    }

    #table-of-contents #text-table-of-contents {
        display: none;
    }

    #table-of-contents:hover #text-table-of-contents {
        display: block;
        padding: 0.5em;
    }

    h1 {
        font-size:2em;
        margin-bottom: 2.5em;
    }

    h2 {
        font-size:1.4em;
        margin: 1em 0 1em 0;
    }
    
    .outline-text-2 {
    	margin-left: 1.5em;
    }
	h3, h4, h5 {
		font-size: 1.2em;
	}
	
    h3 {
    	margin: 0.5em 0 0.5em 1.5em;
    }
    
    .outline-text-3 {
    	margin-left: 4.2em;
    }

    h4 {
    	margin: 0.5em 0 0.5em 3.7em;
    }
    
    .outline-text-4 {
    	margin-left: 8em;
    }

    h5 {
    	margin: 0.5em 0 0.5em 6.6em;
    }

    a {
        text-decoration: none; 
        color: #3399cc;
    }

    a:visited {
        text-decoration: none; 
        color: #3399cc;
    } 

    a:hover {
        text-decoration: underline; 
        color: #3399cc;
    }

    ul {
	    list-style-type: square;
	    padding-left: 1em;
    }

    ol {
	    padding-left: 1em;
	    list-style-type: decimal;
    }
    
    ol ol {
	    list-style-type: lower-alpha;
    }

    li {
        margin: 0.4em;
    }

	p {
		margin: 0 0 0 0;
	}
    
    p.verse {
    	margin-left: 0em;
    }

    table {
        border: 0.1em solid #AEBDCC;
        margin-left: 2em;
        margin-top: 0.6em;
        margin-bottom: 0.6em;
    }

    td {
        border: 0.1em solid #AEBDCC;
    }

    th {
        border: 0.1em solid #AEBDCC;
    }
    
    pre {
        font-family: "Wen Quan Yi Micro Hei Mono", "Microsoft YaHei", serif, Arial !important;
        font-size: 1em;
        color: #333;
        background-color: #ffffff;
        margin: 0.6em 15% 0.6em 0em;
        padding: 1.2em;
        overlow: auto;
    }
}
